body{
    background: linear-gradient(to right, #56ab2f, #63a6e0);
    font-family: 'Segoe UI', sans-serif;
    color:#333;
}
.Parent {
  background: linear-gradient(to bottom , white,pink);
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin-left: 550px;
  margin-top: 200px;
}

.Heading {
  text-align: center;
  color: rgb(58, 58, 201);
  padding-top: 20px;
  font-weight: bolder;
  font-size: larger;
  text-decoration: double;
}

.line {
  border-radius: 25px;
  height: 10px;
  width: 370px;
  background-color: rgb(23, 23, 189);
  margin-left: 15px;
  opacity: 0.1;
}

.container {
  text-align: center;
  margin-top: 30px;
}

.input1,
.input2 {
  margin-left: 10px;
  border-radius: 20px;
  height: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
  background-color: rgb(210, 203, 203);
  width: 200px;
  margin-top: 20px;
}

.button {
  cursor: pointer;
  margin-top: 30px;
  border-radius: 20px;
  height: 45px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(31, 4, 233);
  width: 200px;

}

.description1 {
  margin-right: 267px;
  color: grey;
}

.description10 {
  display: flex;
  justify-content: space-between;
}

.description101 {
  padding-left: 30px;
  font-weight: bold;
  font-size: x-large;
}

.description102 {
  border-radius: 20px;
  background-color: rgb(113, 219, 113);
  margin-right: 20px;
  height: 26px;
  width: 150px;
  font-weight: bold;
  padding-top: 5px;
}